@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.main {
  visibility: hidden;
}
/* .main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.main div {
  height: 100vh;
  background-color: red;
} */

.backgroundImage {
  position: absolute;
  height: 140vh;
  width: 100%;
  top: 0;
  filter: brightness(0.5);
}

.backgroundImage img {
  object-fit: cover;
}

.intro-container {
  margin-top: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introImage {
  position: absolute;
  width: 350px;
  height: 475px;
  filter: brightness(0.6);
}

.intro-container h1 {
  z-index: 3;
  color: white;
  font-size: 7vw;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.introImage img {
  object-fit: cover;
  object-position: top;
}
