@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: black;
}
.homeHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main {
  visibility: hidden;
}

.backgroundImage {
  position: absolute;
  height: 140vh;
  width: 100%;
  top: 0;
  filter: brightness(0.5);
}

.backgroundImage img {
  aspect-ratio: 16/9;
  object-fit: cover;
  height: 100%;
}

.intro-container {
  margin-top: 35vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.introImage {
  position: absolute;
  width: 350px;
  height: 475px;
  filter: brightness(0.6);
}

.intro-container h1 {
  z-index: 3;
  color: white;
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  opacity: 0;
}
.introImage img {
  object-fit: cover;
  object-position: top;
}

.description {
  position: relative;
  color: white;
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: 20vw;
  margin-left: 7vw;
}

.description p {
  margin: 0px;
  position: relative;
}

.cities {
  position: relative;
  color: white;
  margin-top: 25vh;
  padding: 10%;
}

.citiesDescription {
  display: flex;
  height: 700px;
  justify-content: space-between;
  gap: 5%;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 40%;
}

.imageContainer img {
  object-fit: cover;
}

.column {
  display: flex;
  height: 100%;
  width: 20%;
  font-size: 1.6vw;
}

.column:last-of-type {
  align-items: flex-end;
  font-size: 1vw;
}

.citytListList {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 200px;
}

.citiesEl {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 3vw;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: flex-end;
}
.citiesEl h2 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: default;
}
